body {
    background: #ddd;
    font-family: Arial;
}

.page {
    width: 100%;
    display: flex;
    justify-content: center;
}

.result-box {
    width: 900px;
    background: white;
    border: 3px solid black;
    padding: 25px;
    margin: 20px;
}

h2, h3 {
    text-align: center;
    margin: 5px;
}

.info td {
    padding: 5px;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid black;
    padding: 6px;
    font-size: 13px;
    text-align: center;
}

.marks th {
    background: #f2f2f2;
}

.sgpa {
    margin-top: 10px;
    font-size: 14px;
}

.grade {
    margin-top: 10px;
}

.note {
    font-size: 12px;
    margin-top: 10px;
}

.print {
    text-align: center;
    margin-top: 15px;
}

@media print {
    button {
        display: none;
    }
}

@media print {
    .no-print {
        display: none;
    }

    body {
        margin: 0;
    }
}